.Eight-ball{
        display: table-cell;
        width: 250px;
        height: 250px;
        padding: 10px;
        vertical-align: middle;
        border-radius: 50%;
        margin: 0 auto;
}

h2 {
  color: white;
}

.EightBall-container {
  display: inline;
}

  /* margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px black solid;
  vertical-align: middle;
  position: relative; */


/* span {
  margin: 0 auto;
  position: absolute;
} */
